h1{
    font-size: 50px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.name{
    color: orangered;
}
.oned{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
    float:left;
}
.oned img{
    width:100%;
}