h1{
    font-size: 50px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.name{
    color: orangered;
}
.oned{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
    float:left;
}
.oned img{
    width:100%;
}
.firsthalf{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
   height: 500px;
}
#hireme{
    text-decoration: none;
    background-color: rgba(177, 31, 177, 0.788);
    color: rgb(255, 4, 4);
    padding: 10px 20px;
    border-radius: 5px;
    font-size:800;
    background-image: linear-gradient(rgb(120, 39, 167) pink);
}
.twod img{
    width: 100%;
}
.twod{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.secondhalf{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#followme{
    text-decoration: none;
    background-color: rgba(31, 77, 177, 0.788);
    color: rgb(255, 4, 4);
    padding: 10px 20px;
    border-radius: 5px;
    font-size:800;
    background-image: linear-gradient(rgb(39, 95, 167) rgb(11, 29, 88));
}
.orangehighlight{
    color: orangered;
}
.exppart{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.exppart{
    box-shadow: 10px 10px 40px rgb(1, 183, 255);
    border-radius: 10px;
    height: 60%;
}
.thirdpart{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}
footer{
    color: blue;
    font-weight: 700;
    text-align: center;
}